<div>
    <h1>ngMessages</h1>

    <h2>Description</h2>

    <p>The ngMessages module provides enhanced support for displaying messages within templates (typically within forms or when rendering message objects that return key/value data). Instead of relying on JavaScript code and/or complex ng-if statements within your form template to show and hide error messages specific to the state of an input field, the ngMessages and ngMessage directives are designed to handle the complexity, inheritance and priority sequencing based on the order of how the messages are defined in the template.</p>

    <h2>Example</h2>

    <script type="text/ng-template" id="error-messages">
        <div class="error">
            <div ng-message="required">This field is required</div>
            <div ng-message="minlength">The value entered must be at least 5 characters</div>
        </div>
    </script>

    <form name="myForm">
        <div class="form-group">
            <label>Field 1</label>
            <input type="text" ng-model="field" name="myField" required="required" minlength="5" /> (required, minlength=5)
            <div ng-messages="myForm.myField.$error" ng-messages-include="error-messages"></div>
        </div>
        <div class="form-group">
            <label>Field 2</label>
            <input type="text" ng-model="field2" name="myField2" required="required" minlength="8" /> (required, minlength=8)
            <div ng-messages="myForm.myField2.$error" ng-messages-include="error-messages" class="error">
                <div ng-message="minlength">The value entered must be at least 8 characters in length</div>
            </div>
        </div>
    </form>

    <h2>Usage</h2>

    <ul>
        <li>ngMessages directive</li>
        <li>ngMessage directive</li>
        <li>Reusing messages</li>
        <li>Overriding messages</li>
    </ul>

    <h2>Reference</h2>

    <ul>
        <li><a href="https://docs.angularjs.org/api/ngMessages" target="_blank">https://docs.angularjs.org/api/ngMessages</a></li>
    </ul>
</div>
