<h1>ngModelOptions</h1>

<h2>Description</h2>

<p>Allows tuning how model updates are done. Using ngModelOptions you can specify a custom list of events that will trigger a model update and/or a debouncing delay so that the actual update only takes place when a timer expires.</p>

<h2>Examples</h2>

<script type="text/ng-template" id="error-messages">
    <div class="error">
        <div ng-message="required">This field is required</div>
        <div ng-message="minlength">The value entered is too short</div>
    </div>
</script>

<form name="myForm" novalidate>
    <div class="form-group">
        <label>Blurred</label>
        <input type="text" ng-model="blurredField" name="myBlurredField" minlength="5" ng-model-options="{ updateOn: 'blur' }" /> (on blur)
        <div ng-messages="myForm.myBlurredField.$error" ng-messages-include="error-messages"></div>
    </div>
    <div class="form-group">
        <label>Touched</label>
        <input type="text" ng-model="touched" name="myTouchedField" required="required" minlength="5" /> (if touched)
        <div ng-messages="myForm.myTouchedField.$error" ng-messages-include="error-messages" ng-if="myForm.myTouchedField.$touched"></div>
    </div>
    <div class="form-group">
        <label>Debounced</label>
        <input type="text" ng-model="field2" name="myField2" minlength="5" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }" /> (debounce)
        <div ng-messages="myForm.myField2.$error" ng-messages-include="error-messages"></div>
    </div>
    <div class="form-group">
        <label>Submitted</label>
        <input type="text" ng-model="field3" name="myField3" required="required" minlength="5"/> (if submitted)
        <div ng-messages="myForm.myField3.$error" ng-messages-include="error-messages" ng-if="myForm.$submitted"></div>
    </div>
    <div class="form-group">
        <label>Touched and Submitted</label>
        <input type="text" ng-model="touchedAndSubmitted" name="myTouchedAndSubmittedField" required="required" minlength="5"/> (if touched or submitted)
        <div ng-messages="myForm.myTouchedAndSubmittedField.$error" ng-messages-include="error-messages" ng-if="myForm.myTouchedAndSubmittedField.$touched && myForm.$submitted"></div>
    </div>
    <div>
        <input type="submit" value="Submit" class="btn btn-default">
    </div>
</form>

<h2>Reference</h2>

<ul>
    <li><a href="https://code.angularjs.org/1.3.15/docs/api/ng/directive/ngModelOptions" target="_blank">https://code.angularjs.org/1.3.15/docs/api/ng/directive/ngModelOptions</a></li>
    <li><a href="http://www.htmlxprs.com/post/11/angularjs-1.3-form-validation-tutorial" target="_blank">AngularJS 1.3 Form Validation - Tutorial</a></li>
</ul>
